@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --main-color: #bd93f9;
  --bg-color: #282a36;
  --nav-bg: #21222c;
  --text-inactive: #6272a4;
  --text-error: #f55;
  --text-active: #f8f8f2;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  font-family: "Roboto Mono", monospace;
  min-height: 100dvh;
}

.header {
  background-color: var(--nav-bg);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2rem;
}

@media screen and (max-width: 400px) {
  .header {
    flex-direction: column;
  }
}

.header h2 {
  display: inline;
}

.logo-ctr {
  display: inline-flex;
}

.logo-ctr > * {
  padding: 2.5rem 0;
}

.logo-ctr svg {
  display: inline;
  font-size: 3rem;
  margin-left: 1rem;
}

.nav-ctr {
  display: flex;
  justify-content: space-between;
}

.nav-ctr a {
  color: var(--main-color);
  text-align: center;
  width: 10rem;
  padding: 2.5rem 0;
  text-transform: capitalize;
}

.nav-ctr a:focus {
  outline: 3px solid var(--main-color);
}

.nav-ctr a:hover {
  background-color: var(--bg-color);
}

/* theme toggle btn */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.main {
  display: flex;
  padding: 10rem 0;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
}

.letters-container {
  max-width: 90vw;
  max-height: 10.5rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-inactive);
  font-weight: 500;
  overflow: hidden;
  position: relative;
}

.letters-wrapper {
  position: relative;
}

.space-char {
  padding: 0 1px;
}

.user-input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* result */

.result-container {
  height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  text-align: center;
  background-color: var(--nav-bg);
  padding: 2rem;
  border-radius: 5px;
  border: 3px solid rgb(200, 200, 200, 0.8);
  transition: transform 300ms ease-in-out;
}

.result:hover {
  transform: scale(1.1);
}

.result__title {
  color: var(--main-color);
  font-weight: bold;
}

.time,
.result__value {
  color: var(--main-color);
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .recharts-responsive-container {
    display: none;
  }
}

/* utility */

.active {
  color: var(--text-active);
}

.inactive {
  color: var(--text-inactive);
}

.error {
  color: var(--text-error);
}

.light-theme {
  filter: invert(1);
}

.cursor {
  border-right: 2px solid var(--main-color);
  animation: blink infinite 700ms ease-in-out;
}

@keyframes blink {
  0% {
    border-color: rgba(255, 255, 0, 0);
  }
  50% {
    border-color: rgb(189, 147, 249, 1);
  }
  100% {
    border-color: rgba(255, 255, 0, 0);
  }
}
